# OS X Finder
.DS_Store

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata

# Build products
build/
*.o
*.LinkFileList
*.hmap
Frank/frankified_build/
test-reports/*
*.ipa
*.dSYM.zip

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

# pods
Pods/*

# screenshots
screenshots
